# ipyvizzu Intro

## Basic logic

![Image](https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/4db3bcbdf8e408731322d7810aabbeb55f0b9520/2024-04-05-PyCon_LT/assets/ipyvizzu-API-structure.svg)

## First example - Titanic data set

In [ ]:
# pip install ipyvizzu

In [2]:
# Import components, add data to pandas data frame

import pandas as pd
from ipyvizzu import Chart, Data, Config, Style

#Add Titanic data set to a data frame with a Count value added to it - Pclass type is set to string
data_frame = pd.read_csv(
    "https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/titanic.csv",
    dtype={"Pclass": str}
)
data = Data()
data.add_df(data_frame)

data_frame.head(4)

,Count,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,Died,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,10,Survived,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
2,1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,Survived,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
# Create empty chart
# Rerun this cell if you want to start over

chart = Chart(width='100%', height='360px')
chart.animate(data)

In [ ]:
# Create first chart

chart.animate(
    Config(
        {
            'x': 'Count',
            'y': 'Sex',
            'label': 'Count',
            'title': 'Passengers of the Titanic',
        }
    )
)

In [ ]:
# Create second chart by adding a new dimension
# to the x-axis and to the color channel

chart.animate(
    Config(
        {
            'x': ['Count', 'Survived'],
            'color': 'Survived'
        }
    )
)

In [ ]:
# Create third chart by removing the new dimension
# from the x-axis and add it to the y-axis

chart.animate(
    Data.filter("record.Pclass == '1'"),
    Config(
        {
            'y': 'Count', 
            'x': ['Sex', 'Survived'],
           # 'geometry':'rectangle',
           # 'size':'Count',
           # 'coordSystem':'cartesian'
        }
    ),
    #Style({'plot':{'marker':{'colorPalette': '#b74c20FF #1c9761FF #c47f58FF #ea4549FF'}}})
)

## Config
There are
- **axes**
   - **x**
   - **y**
- **channels** 
   - **color** - sets the color of the markers
   - **label** - sets the label shown on the markers
   - **size** - sets the size of the markers when geometry is circle or line
   - **lightness** - sets the color intensity of the markers - rarely works well together with color channel

You can add any number of categorical and one numerical series to each of them.

Other parameters include:           
- **geometry** (*rectangle*, circle, area, line) - sets the geometric elements used on the charts
- **coordSystem** (*cartesian*, polar) - sets the coordinate system
- **sort** (*none*, byValue) - sets sorting by value on and off
- **align** (*none*, min, max, center, stretch) - sets the alignment of the markers on the plot - stretch: switch to %
- **title** (string) - sets the title of the chart
- **split** (true, *false*) - splits a stacked chart to show values side-by-side

*default values*